<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/reg.css">
        <title>Registration</title>
    </head>
    <body>
        <div class="content">
          <h1>Registration</h1>
            <form method="POST">{% csrf_token %}
              <p>Username</p>
              <input type="text" name="login" placeholder="" value="{{ form.login }}">
              <div class="error">{{ form.error_log }}</div>
              <br>
              <p>Mail</p>
              <input type="text" name="mail" placeholder="" value="{{ form.mail }}">
              <div class="error">{{ form.error_mail }}</div>
              <br>
              <p>Pass</p>
              <input type="text" name="pass" placeholder="" value="{{ form.pass }}">
              <div class="error">{{ form.error_pass }}</div>
              <br>
              <input type="submit" value="Сохранить">
              <br>
            </form>
        </div>
    </body>
</html>
